.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.gridItem {
    margin: 10px;
}

.book {
    /*border: 4px double aqua;*/
}

.img {
    height: 190px;
    width: 150px;
}

.p_my_rvw {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.div_p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.noBooksDiv {
    align-self: center;
    justify-content: center;
    display: flex;
}

.noBooksDiv p {
    color: rgb(120, 120, 120);
    font-size: 20px;
}

.loadingSpinner {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 25%;
}