.grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.gridItem {
    margin: 10px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book:hover {
    filter: brightness(0.8);
    cursor:pointer;
}

.rating{
    align-self: center;
    justify-self: center;
}
.coverImg{
    align-self: center;
    justify-self: center;
}
.img {
    height: 190px;
    width: 150px;
}

.p_my_rvw {
    text-align: center;
    font-weight: 600;
    font-size: 35px;
}

.div_p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.noBooksDiv {
    align-self: center;
    justify-content: center;
    display: flex;
}

.noBooksDiv p {
    color: rgb(120, 120, 120);
    font-size: 20px;
}
.wantToReadBtn {
    margin-top: auto;
    margin-bottom: 20px;
    background-color: #BEEDA2;
    border-radius: 10px;
    padding: 9px 21px;
    width: 150px;
    border: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wantToReadBtn:hover {
    filter: brightness(0.87);
}
.loadingSpinner {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 25%;
}