.accountInfo {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    align-items: center;
    height: 100%;
    padding-bottom: 40px;
}
.chPassBtnDiv{
    justify-self: center;
    display: flex;
    flex-direction: column;

}
.chPassBtn{
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 1.2vw;
    color: rgb(130,130,130);
    margin-top: 30px;
}
.deleteAccountBtn{
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 1.2vw;
    margin-top: 50px;
    color: rgb(241, 47, 47);
    justify-self: flex-end;
}
.chPassBtn:hover{
    filter: brightness(0.8);
}
.deleteAccountBtn:hover{
    filter: brightness(0.8);
}
.status {
    padding-top: 40px;
    font-size: 1.7vw;
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
    color: rgb(255, 158, 16);
}

.accountInfoWithoutStatus {
    display: grid;
    grid-template-columns: 30% 70%;
    align-content: center;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-self: end;
}

.info {
    display: grid;
    align-content: center;
    justify-self: center;
}

.name {
    font-size: 2vw;
}

.n_reviewed {
    font-size: 1vw;
}

.statusSpinner {
    display: inline-block;
    margin-left: 10px;
}
