.container {
    display: flex;
    overflow-x: auto;
    height: 80vh;
    scrollbar-gutter: stable both-edges;
    margin: 30px;
}

.book {
    background-color: transparent;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wantToReadBtn {
    margin-top: 12px;
    margin-bottom: 20px;
    background-color: #BEEDA2;
    border-radius: 10px;
    padding: 9px 21px;
    border: none;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wantToReadBtn:hover {
    filter: brightness(0.87);
}

.img {
    height: 520px;
    width: 380px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookInfo {
    background-color: transparent;
    display: flex;
}

.loadingSpinner {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}